<nav>
	<div class="nav-wrapper">
		<a href="/" class="brand-logo center">QuizzBox</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse">
			<i class="fa fa-bars"></i>
		</a>
		<ul id="nav-mobile" class="left hide-on-med-and-down">
			<li><a href="/">Accueil</a></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a href="/">Accueil</a></li>
		</ul>
    </div>
</nav>