{% extends "template/layout.html.twig" %}

{% set title = 'Accueil' %}

{% block content %}
	
	<div class="row">
		<h1>Liste des catégories</h1>
		<div class="divider"></div>
		{% if categories %}
			{% for categorie in categories %}
				<div class="col s12 m4">
					<div class="card vertical">
						<div class="card-image">
							<center>
								<img src="/public/assets/img/{{ categorie.img }}" style="width: 80%">
							</center>
						</div>
						<div class="card-content">
							<p>{{ categorie.description }}</p>
						</div>
						<div class="card-action">
							<a href="/categorie/{{ categorie.id }}">Voir cette categorie</a>
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div class="card-panel blue white-text">
				Il n'y a visiblement aucune catégorie.
			</div>
		{% endif %}
	</div>
{% endblock %}